<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo-box">
          <h3>{{site.title}}</h3>
          <p>Casa de Cultură is a contemporary art space and rustic homestay in the Banat Highlands, Romania.</p>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        <h3>Find us elsewhere</h3>
        <p><span class="fa fa-instagram"></span> <a target="_blank" href="http://instagram.com/casa.de.cultura">casa.de.cultura</a></p>
        <p><span class="fa fa-facebook"></span> <a target="_blank" href="https://www.facebook.com/casadecultura.cuptoare/">casadecultura.cuptoare</a></p>
        <!--Start of Tidio.to Script-->
        {{ site.tidio-chat-script }}
        <!--End of Tidio.to Script-->
      </div>
    </div>
  </div>
</footer>
