<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo-box">
          <h3>{{ site.title }}</h3>
          <p>{{ site.description }}</p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-3">
        <h3>Find us elsewhere</h3>
        <p><span class="fa fa-instagram"></span> <a target="_blank" href="http://instagram.com/{{ site.instagram }}">{{ site.instagram }}</a></p>
        <p><span class="fa fa-facebook"></span> <a target="_blank" href="https://www.facebook.com/{{ site.facebook }}/">{{ site.facebook }}</a></p>
      </div>
      <div class="col-md-4">
        <p>&copy; {{ "now" | date: "%Y" }} <strong>{{ site.title }}</strong> Some Rights Reserved</p>
        <p>Photography by our friend <a target="_blank" href="http://ionescuvlad.com/">Vlad Ionescu</a></p>
      </div>
    </div>
  </div>
</footer>
