<section id="intro">
	<div class="">
		<div class="owl-carousel owl-theme carousel-1">
			<div class="item position-relative">
				<div class="car-image" style="background-image: url(/assets/images/carousel/above-crop.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Imagine</p>
					<h1>living in a carefully restored traditional house<br />in one of the greenest areas of Romania</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/barn-crop.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Surrounded by</p>
					<h1>musical instruments, contemporary art<br />and antique Chinese furniture</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/studio-crop.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Call it</p>
					<h1>a place to create</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/terrace-crop.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Call it</p>
					<h1>a place to live</h1>
				</div>
			</div>
		</div>
	</div>
</section>
